<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
<meta charset="UTF-8">
<title>検索条件</title>
</head>
<body>
	<div id="header">
		<h4>1000円ランチシステム</h4>
		・検索条件
	</div>
	<div id="main">
		<form method="post" th:action="@{request/menu_search}"	>
			<!-- 固定値で受渡しのみ-->
			<!-- 中断:WEB用の処理が無いので、画面呼べない。-->
			日付：<input type="text" name="date"> 
			金額（円）：<input type="text"	name="total">円 
			<input type="submit" value="送信">
		</form>
	</div>
	<div id="footer">
		<a th:href="@{/home}">トップに戻る</a> 
		<input type="button" onclick="history.back()" value="前に戻る">
	</div>
</body>
</html>